
#container {
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.item {
  box-sizing: border-box;
  flex-grow: 0;
  flex-basis: 100%;
  /* design helper */
  border: solid #f6d9ad;
}
h2 {
  color: #828225;
}
h3 {
  color: #b5b58a;;
}
h4 {
  color: #6c6c5c;;
}
h5 {
  color: #bfbf1b;
}

.content {
  /* Usage: always nest inside .item */
  flex-grow: 0;
  flex-basis: 100%;
  box-sizing: border-box;
  margin: 5px;
  padding: 10px;
  font-family:'Courier New', Courier, monospace;
  text-align: center;
}

.item.meta {
  flex-basis: 50%;
}

.item.cell {
  flex-basis: 25%;
}

/* adjustments for medium screens, like some tablets or landscape on a mobile */
@media (min-width: 576px) {
  .item {
    flex-basis: 50%;
  }
}

/* adjustments for medium-large screens, like some tablets */
@media (min-width: 768px) {
  .item {
    flex-basis: 33.3333333333333%;
  }
}

/* adjustments for large screens, like laptops and desktops */
@media (min-width: 992px) {
  #container {
    width: 992px;
    margin: 0 auto;
  }

  .item {
    flex-basis: 25%;
  }
}

body {
  background-color: #ffffff;
  color: #a1a12a;
}


h1 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
}
#header {
  font-size: larger;
}

#filtering-area {
  display: inline-flex;
  align-content: flex-start;
  gap: 10px 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-family: "Gill Sans", sans-serif;
}

.filters {
  align-items: flex-start;
  align-self: flex-start;

}

#years {
  flex-grow: 3;
}